.iamport-block-container input[type="submit"] {
  width: 15rem;
  height: 3rem;
  font-size: 1rem;
}

.iamport-block-box table {
  width: 100%;
}

.iamport-block-box table td:first-child {
  color: #888;
  width: 160px;
}

.iamport-block-box input[type=text] {
  min-height: 40px;
  padding: 0 1rem;
  width: 100%;
}