/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-iamport-block  {
  background: $primary-bg;
  border: 0.2rem solid $primary;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;

  .ant-form {
    .ant-form-item-children,
    .ant-checkbox-group,
    .ant-radio-group,
    .ant-form-item-label {
      width: 100%;
    }

    .ant-divider {
      background-color: #344e81;
    }

    h3, .imp-label-container {
      width: 100%;
      // 기본 입력 필드, 커스텀 입력 필드
      // 커스텀 입력 필드 라벨 컨테이너
      &:after {
        clear: both;
        display: block;
        content: ' ';
      }
      > span {
        float: left;
        line-height: 40px;
      }
      > button, > .anticon {
        // 커스텀 입력 필드 추가하기
        float: right;
      }
      > .anticon {
        // 라벨 수정 / 삭제 버튼
        margin-left: 1rem;
        line-height: 40px;
      }
    }
    h4 {
      // 설정된 커스텀 입력 필드가 없습니다.
      text-align: center;
      color: #888;
      font-weight: normal;
    }

    .imp-custom-fields-container {
      // 커스텀 입력 필드 컨테이너
      &, .ant-col.ant-col-12:last-child {
        text-align: right;
      }
      .imp-custom-field-label-container {
        // 라벨 컨테이너
        width: 100%;
        text-align: left;
        color: rgba(0, 0, 0, 0.85);
        display: inline-block;
        overflow: hidden;
        line-height: 39.9999px;
        white-space: nowrap;
        vertical-align: middle;
        position: relative;
        min-height: 1px;
        // 필수입력 여부
        .ant-checkbox-wrapper {
          margin-left: 1rem;
        }
      }
    }

    > .ant-btn {
      // 필드 추가하기
      width: 100%;
    }
    button[type="submit"] {
      // 저장하기
      margin-top: 1rem;
    }

    // override wordpress default css
    input[type="text"] {
      border-color: #d9d9d9;
      font-size: 16px;
    }
    .ant-btn-background-ghost {
      background-color: #fff!important;
    }
  }
}
