/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.iamport-btn-container {
  text-align: center;
  margin-top: 1rem;

  button {
    width: 4rem;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0 0.25rem;
  }
}

.iamport-dimmed-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

/**
 * antd styling
 */
.iamport-block-modal.ant-modal {
 .ant-modal-header {
   padding: 1.5rem 24px;
   background-color: $primary;
   .ant-modal-title {
    h3 {
      margin-bottom: 0;
    }
    h5 {
      margin-bottom: 0;
      margin-top: 0.2rem;
    }
    * {
      color: #fff;
      text-align: center;
    }
   }
  }

  .ant-modal-content {
    button.ant-modal-close:hover {
      background: initial;
    }
    .ant-modal-close-x svg {
      color: white;
     }
  }

  .ant-form {
    // override wordpress default css
    input[type=text] {
      border-color: #d9d9d9;  
      &:focus {
        border-color: #40a9ff;
        outline: none;
      }
    }

    .has-error input[type=text]:focus {
      border-color: #ff4d4f;
    }

    .iamport-address-container {
    // 주소 입력 필드
      margin-bottom: 0.5rem;
      .ant-form-item {
        margin-bottom: 0;
      }
    }
    .iamport-agreement-container {
      // 약관 동의 입력 필드
      margin-bottom: 0;
    }
    .iamport-agreement-link {
      text-decoration: underline;
      text-align: right;
    }
  }
}

.iamport-block-modal.ant-modal.mobile {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  .ant-modal-content {
    border-radius: 0;
    height: 100vh;
    overflow-y: auto;
  }
}